<html>
  <head>
      <title>Altybaev Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django Girls Blog</a></h1>
    </div>

    <div>
        <p>published: 17.04.17, 11:00</p>
        <h2><a href="">China Airlines</h2>
        <p>China Airlines (CAL) (Chinese: 中華航空; pinyin: Zhōnghuá Hángkōng) (TWSE: 2610) is the flag carrier and largest airline of the Republic of China (Taiwan). It is headquartered in Taiwan Taoyuan International Airport and has 12,607 regular employees.[3] China Airlines operates over 1,400 flights weekly to 118 airports in 115 cities (including codeshare) across Asia, Europe, North America and Oceania.[4] The cargo division operates 91 pure freighter flights weekly.[5] The carrier was, in 2013, the 29th and 10th largest airline in the world in terms of passenger revenue per kilometer (RPK) and freight RPK, respectively.</p>
    </div>

    <div>
        <p>published: 17.04.17, 11:20</p>
        <h2><a href="">Fly Emirates</h2>
        <p>Emirates (Arabic: طَيَران الإمارات‎‎ DMG: Ṭayarān Al-Imārāt) is an airline based in Dubai, United Arab Emirates. The airline is a subsidiary of The Emirates Group, which is wholly owned by the government of Dubai's Investment Corporation of Dubai.[3] It is the largest airline in the Middle East,[4] operating over 3,600 flights per week from its hub at Dubai International Airport, to more than 154 cities in 81 countries across six continents.[5] Cargo activities are undertaken by Emirates SkyCargo.[6]

Emirates is the world’s fourth largest airline by scheduled revenue passenger-kilometers flown,[7] the fourth-largest in terms of international passengers carried,[8] and the second-largest in terms of freight tonne kilometers flown. Emirates had the longest non-stop commercial flight from Dubai to Auckland until it was surpassed by Qatar Airways</p>
    </div>
  </body>
</html>
